@media (max-width: 575.98px) {
header {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}

h2{ color:red}
h1 {color: red}
h3{color: red}