<div [ngClass]="enablePosts ? 'grid-hidden' : 'grid-container'">
    <button [hidden]="!enablePosts" class="" (click)="switchMenu()">SHOW</button>
    <div class="side-bar" [hidden]="enablePosts">
        <button (click)="switchMenu()">Full list</button>
        <button (click)="getPrevious()">previous 5</button>
        <button (click)="getNext()">next 5</button>
        <input #searchbox type="text" placeholder="placeholder">
        <button (click)="search(searchbox.value)">search</button>
        <div *ngFor="let post of getPosts()">
            <app-blog-post [location]="'blog'" [post]="post" (pageContent)="receivePageContent($event)"></app-blog-post>
        </div>
    </div>
    <div class="main-page">
        <markdown mermaid data={{currentMarkdown}} ></markdown>
    </div>
    <div class="side-bar"></div>
</div>
<footer></footer>